* {
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

body {
    border: 0px;
}

/* primary-color:#3892C6 */

/* predefined */

.button {
    height: unset;
    padding: 8px 15px;
    background: white;
    border: 2px solid black;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.rounded {
    border-radius: 8px;
}

.button.primary {
    background: #3892C6;
    color: white;
    border: 2px solid #3892C6;
}

.button.primary:hover {
    background: white;
    color: #3892C6;
    border: 2px solid #3892C6;
}

.button.secondary {
    background: gray;
    color: white;
    border: 2px solid gray;
}

.button.secondary:hover {
    background: white;
    color: gray;
    border: 2px solid gray;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 5px;
}

.description {
    font-size: 16px;
    margin: 5px;
    margin-bottom: 15px;
}

.flex {
    display: flex;
    width: 100%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 60%;
}

.col-4 {
    width: 40%;
}

.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

/* navbar  */

.navigation-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.navbar>div {
    display: flex;
    padding: 0 20px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo-menu-container {
    width: 60%;
}

.search-info-container {
    width: 40%;
}

.logo {
    width: 150px;
    aspect-ratio: 7/2;
    margin-right: 20px;
}

.menus {
    display: flex;
    gap: 10px;
    margin-bottom: -25px;
}

.menu-items {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    padding-bottom: 15px;
    cursor: pointer;
}

.menu-items:hover {
    color: #3892C6;
    border-bottom: 2px solid #3892C6;
}

.overlay-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlay-menu-list a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.overlay-menu-list a:hover {
    font-weight: 600;
}

.overlay-menu-list a .cat-image {
    width: 50px;
    margin-top: -10px;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 90vh;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}


.custom-dropdown:hover .custom-dropdown-content {
    display: block;
}

.section-header {
    text-transform: uppercase;
    display: flex !important;
    border-bottom: 3px solid #3892C6;
    padding-bottom: 10px;
    width: 30%;
}

/* nav search  */

.nav-search {
    height: 50px;
    font-size: 12px;
    padding: 8px 16px;
    padding-left: 30px;
    border-radius: 8px;
    background-image: url(search.png);
    background-position: 8px center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    border: 2px solid #3892C6;
}

.nav-search:focus {
    outline: none;
}

/* user dropdown  */
.user-dropdown {
    position: relative;
}

.user-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 350px;
    height: auto;
    padding: 40px;
    right: -50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.user-dropdown-content.more-info {
    padding: 10px;
    width: max-content;
}

.user-dropdown-content.more-info a {
    text-decoration: none;
    color: black;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

.icons {
    margin-top: 15px;
    width: 20px;
    height: 38px;
}

/* currency selector  */

#curr-temp {
    display: none;
}

.curr-select {
    display: flex;
    width: 70px;
    position: relative;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.curr-opt {
    position: absolute;
    background: white;
    font-size: 12px;
    top: 84%;
    left: -1px;
    width: 70px;
    display: none;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    padding-top: 0;
    border: 1px solid black;
    border-top: 0.5px solid rgba(148, 148, 148, 0.493);
}

#curr-temp:checked+label>.curr-opt {
    display: block;
}

/* #curr-temp:checked+label>.down {
    display: none;
}

#curr-temp:checked+label>.up {
    display: block;
}

#curr-temp+label>.down {
    display: block;
}

#curr-temp+label>.up {
    display: none;
} */

.curr-opt-item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.curr-opt-item .icons {
    width: 20px;
    height: 20px;
}

.default-curr {
    display: flex;
    gap: 5px;
    font-size: 12px;
    align-items: flex-end;
    margin-top: -15px;
    margin-right: 10px;
}

.default-curr .icons {
    width: 20px;
    height: 20px;
}

.menu-toggle {
    display: none;
}

/* top bar styles */

.topbar {
    background: #3892C6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
}

.topbar button {
    border: 1px solid white;
    background: white;
    color: #3892C6;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    padding: 3px 10px;
    cursor: pointer;
}

.topbar button:hover {
    background: #3892C6;
    color: white;
}

.topbar-item {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.topbar-item:hover {
    color: rgba(255, 255, 255, 0.664);
}

.topbar-item-img {
    width: 20px;
    height: 20px;
}

.no-margin {
    margin: 0px;
}

/* modal styles */

.modal-info-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-cover {
    width: 100%;
    aspect-ratio: 7/3;
}

.modal-info {
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.whatsapp-qr {
    width: 25%;
}

.modal-info-list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.jwell-sell-modal-content {
    display: flex;
    gap: 20px;
}

.jwell-sell-modal-content .modal-info {
    display: flex;
    flex-direction: column;
}

.jwell-sell-modal-content .modal-info .whatsapp-qr {
    width: 40%;
    aspect-ratio: 1/1;
    margin-bottom: -10px;
}

.jwell-sell-modal-content .modal-info .phone-link {
    margin: -10px 0;
}

.jwell-sell-modal-content .modal-info .phone-info {
    margin: -10px 0;
    font-weight: 700;
}

.jwell-sell-modal-content .modal-info .modal-info-list {
    font-size: 12px;
}

.jwell-sell-modal-content .modal-cover {
    width: 50%;
    aspect-ratio: 1/1;
}

#custom-menu-drawer {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    border-bottom: .2px solid rgba(0, 0, 0, 0.211);
}

#custom-menu-drawer.open {
    display: block;
    height: 100%;
    transition: all 1s ease-in-out;
}

.hidden-big-screen {
    display: none;
}

.custom-menu-drawer-title{
    display: flex;
    gap: 20px;
    justify-content: center; 
    position: fixed;
    width: 100%;
    padding: -10px auto;
    background-color: gray;

}

.custom-menu-drawer-title .icons{
    width: 15px;
    aspect-ratio: 3/1;
    margin: -7px 0;
    margin-top:10px
}

.custom-menu-drawer-title .user-dropdown-content{
    width: max-content;
    left: -32vw;
    margin: 0 auto;
}

.custom-menu-drawer-title .user-dropdown-content .title{
    font-size: 18px;
}
.custom-menu-drawer-title .user-dropdown-content .description{
    font-size: 14px;
    margin: -10px 0 10px 0;
}

/* custom-accordion styles  */

.custom-accordion-container{
    margin-top: 80px;
}

.custom-accordion {
    cursor: pointer;
    background: white;
    padding: 5px 18px;
    color:black;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: -20px;
}

.custom-accordion:after {
    content: '\203A';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\203A";
    transform: rotate(90deg);
}

.panel {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.panel a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    font-size: 14px;
}

.tt-menu .tt-dataset .tt-suggestion{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

/* media query  */

@media (width < 1024px) {
    .logo {
        width: 90px;
        aspect-ratio: 7/2;
        margin-right: 10px;
    }

    .logo-menu-container {
        width: 50%;
    }

    .search-info-container {
        width: 50%;
    }

    .menu-items {
        font-size: .6rem;
    }

    .nav-search {
        height: 30px;
        font-size: 10px;
        padding: 5px 10px;
        padding-left: 20px;
        background-position: 5px center;
        background-size: 10px 10px;
        background-repeat: no-repeat;
        border: 1px solid #3892C6;
    }

    .default-curr {
        gap: 5px;
        font-size: 10px;
        align-items: flex-end;
        margin-top: -15px;
        margin-right: 10px;
    }

    .default-curr .icons {
        width: 15px;
        height: 15px;
    }

    .curr-opt {
        font-size: 10px;
    }

}

@media (width < 980px) {
    .menus {
        display: none;
    }

    .hidden-big-screen {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .logo-menu-container {
        width: 25%;
    }

    .search-info-container {
        width: 75%;
    }

    .search-info-container .info {
        display: none;
    }

    .search-info-container>div>.info {
        display: none;
    }

    .logo {
        width: 80px;
    }

}

@media (width < 640px) {
    .menus {
        display: none;
    }


    .logo-menu-container {
        width: 25%;
    }

    .search-info-container {
        width: 75%;
    }

    .topbar-item {
        font-size: 10px;
    }

    .topbar-item-img {
        width: 15px;
        height: 15px;
    }

    .topbar button {
        font-size: 10px;
        border-radius: 8px;
        padding: 3px 10px;
    }

    .nav-search {
        width: 100px;
    }

}